.dirTreeContainer {
  background-color: white;
  font-family: PingFangSC-Semibold;
  color: #333333;
  .header {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 12px 20px;
    border-bottom: 1px solid #ccc;
    div:first-child {
      font-size: 16px;
      font-weight: normal;
      line-height: 24px;
      letter-spacing: 0em;
    }
  }
  .content {
    padding: 24px 20px;
  }
}

.dirTree {
  :global {
    .ant-tree-treenode,
    .ant-tree-node-content-wrapper {
      width: 100%;
    }
  }
}
