.box {
  height: calc(100% - 62px);
  :global {
    #pg-photo-container,
    #pg-photo-container img {
      width: 100% !important;
      height: 100% !important;
    }
    #docx .document-container td {
      border: 1px solid #ccc;
    }
  }
  .header {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .footer {
    margin-top: 20px;
  }
}
